@import '../_variable.css';

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--themeBGsidebar);
    color: var(--textColor);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

.sidebar .sidebar-header {
    padding: 20px;
    background: var(--titleSidebar);
}

.sidebar ul.components {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--borderMenusidebar);
}

.sidebar ul p {
    color: var(--textColor);
    padding: 0px 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--textColor);
    text-decoration: none;
}
.sidebar ul li .editmenu{
        display: none;
}
li {

}
.sidebar ul a:hover {
    color: var(--textColor);
    background: var(--hoverItem);
}
.sidebar ul a:hover #offline{
    background: var(--textColor);
}
.sidebar ul a:hover .editmenu {
    display: inline;
    color: var(--textColor);
}
.sidebar ul a.active{
    color: var(--textColor);
    background: var(--activeItem);
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f078';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    /* font-family: 'Glyphicons Halflings'; */
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\f077';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--themeBGsidebar);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    margin-bottom: 5px;
}

a.article, a.article:hover {
    background: var(--activePresence) !important;
    color: var(--textColor) !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.form-control.addpage {
    color: var(--textColor);
    background: var(--hoverItem);
}

.logoSide {
    width: 12rem;
    height: auto
}