
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f107';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    /* font-family: 'Glyphicons Halflings'; */
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\f106';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
.coloroption {
    width:25px;
    height: 25px;
}
.colorset-1 {
    background: rgba(255,244,87,1);
    background: -moz-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -webkit-linear-gradient(left top, right bottom, color-stop(0%, rgba(255,244,87,1)), color-stop(100%, rgba(255,183,66,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: linear-gradient(135deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ffb742', GradientType=1 );
}
.colorset-2 {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.colorset-3 {
    background: rgba(209,255,82,1);
    background: -moz-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -webkit-linear-gradient(left top, right bottom, color-stop(0%, rgba(209,255,82,1)), color-stop(100%, rgba(145,240,56,1)));
    background: -webkit-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: linear-gradient(135deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ff52', endColorstr='#91f038', GradientType=1 );
}

.form-control.addpage {
    background: #6170b6;
}
