@import '/_variable';

  .circleMenu{
    cursor: pointer;
    display:flex; 
    
    justify-content:center!important;
    border-radius:50%;
    height:70px;
    width:70px;
    background-color:white;
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:40px;
    color:#555;
    border: 2px solid #555;
    transition:0.3s;
  }

  .circleAnimate{
    transform: rotate(405deg);
  }

  .circleMenu:hover{
    background-color:#7386D5;
    color:white;
  }
  .ModalCreate {
    background-color: var(--themeBg)
  }
  