@import '/_variable';

  .circleMenu{
    cursor: pointer;
    display:flex; 
    justify-content:center!important;
    border-radius:50%;
    height:60px;
    width:60px;
    background-color:var(--activeItem);
    position: fixed;
    bottom:20px;
    right:20px;
    font-size:40px;
    color:var(--textColor);
    transition:0.3s;
    border-top: 1px solid transparent;
  }

  .circleMenu:hover{
    background-color:transparent;
    border: var(--activeItem) solid 2px;
    color:var(--textColor);
  }
  .ModalCreate {
    background-color: var(--themeBg)
  }
  