@import '/_variable';


.gridPopupPreview {
  z-index: 10;
	position:absolute;
	top:0px;
	left: 0px;
	width: 100%;
  height: 100%;
}

.gridPopupPreview .item {
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 1;
  color: #fff;
  background: #ce3a3a;
  padding: 0.8rem 0px;
}