@import '/_variable';
.listwid:hover {
    background-color: #f1f1f1;
    box-sizing: border-box;
}
.listWidgets {
    min-width: 100px;
    overflow-y: auto;
    max-height: 65vh;
    overflow-x: hidden;
}
.listwid.active {
    background-color: var(--activeItem);
}
.listwid.active .figure-caption {
    color: #f1f1f1;
}
.formWidget {
    overflow-y: auto;
    max-height: 65vh;
}
.modal-content.createwidget {
    max-height: 100vh;
}
.btn-group {
    z-index: 0;
}
.btn.active {
    background-color: var(--activeItem);
    z-index: 0;
}
.form-control[readonly] {
    background-color: #f3f3f3;
}
@media screen and (max-width: 575px) {
    .listWidgets {
        min-width: 100%;
        overflow-x: auto;
        max-height: 100px;
        margin-bottom: 10px 
    }
    .listwid {
        display: inline-block;
        max-width: 33%;
    }

}
