@import '/_variable';
.listwid:hover {
    background-color: #f1f1f1;
    box-sizing: border-box;
}
.listWidgets {
    min-width: 100px;
    overflow-y: auto;
    min-height: 100%;
}
@media screen and (max-width: 575px) {
    .listWidgets {
        min-width: 100%;
        overflow-x: auto;
        max-height: 100px;
        margin-bottom: 10px 
    }
    .listwid {
        display: inline-block;
        max-width: 33%;
    }
}
