@import '../../_variable.css';

.coloroption {
    width:25px;
    height: 25px;
}
.border-active {
    border: var(--activeItem) solid 3px;
}
ul.list-inline {
 padding: 20px;
}
#colorset-1 {
    background: #3f4c6b;
    background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #1b2a49 100%);
    background: -webkit-linear-gradient(-45deg, #3f4c6b 0%,#1b2a49 100%);
    background: linear-gradient(135deg, #3f4c6b 0%,#1b2a49 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#1b2a49',GradientType=1 );
}
#colorset-2 {
    /* background-color: rgba(235,233,249,1);
    background: @include filter-gradient(#ebe9f9, #c1bfea, horizontal);
    background: @include background-image(linear-gradient(left top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%)); */
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: linear-gradient(135deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}
#colorset-3 {
    background: rgba(255,244,87,1);
    background: -moz-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -webkit-linear-gradient(left top, right bottom, color-stop(0%, rgba(255,244,87,1)), color-stop(100%, rgba(255,183,66,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    background: linear-gradient(135deg, rgba(255,244,87,1) 0%, rgba(255,183,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ffb742', GradientType=1 );
}
#colorset-4 {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#colorset-5 {
    background: rgba(209,255,82,1);
    background: -moz-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -webkit-linear-gradient(left top, right bottom, color-stop(0%, rgba(209,255,82,1)), color-stop(100%, rgba(145,240,56,1)));
    background: -webkit-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    background: linear-gradient(135deg, rgba(209,255,82,1) 0%, rgba(145,240,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ff52', endColorstr='#91f038', GradientType=1 );
}
#colorset-6 {
    background: #fdd24e;
    background: -moz-linear-gradient(-45deg, #fdd24e 7%, #fdd24e 39%, #fdd24e 39%, #557486 51%, #1b2a49 100%);
    background: -webkit-linear-gradient(-45deg, #fdd24e 7%,#fdd24e 39%,#fdd24e 39%,#557486 51%,#1b2a49 100%);
    background: linear-gradient(135deg, #fdd24e 7%,#fdd24e 39%,#fdd24e 39%,#557486 51%,#1b2a49 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd24e', endColorstr='#1b2a49',GradientType=1 );
}
#colorset-7 {
    background: #cc399a;
background: -moz-linear-gradient(-45deg, #cc399a 4%, #cc399a 20%, #cc399a 21%, #154b77 90%, #1f143b 100%);
background: -webkit-linear-gradient(-45deg, #cc399a 4%,#cc399a 20%,#cc399a 21%,#154b77 90%,#1f143b 100%);
background: linear-gradient(135deg, #cc399a 4%,#cc399a 20%,#cc399a 21%,#154b77 90%,#1f143b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc399a', endColorstr='#1f143b',GradientType=1 );
}
.tail {
    width: 50px;
}
.statusSource {
    width: 10px;
    height: 10px;
}
#online {
    background: var(--activePresence);
}
#offline {
    background: var(--borderMenusidebar);
}
.modal.ModalCreateSource,.modal.edit {
    width: 100vw;
}
