/* $themeBG: #303E4D;
$themeBGHover: #2C3849;
$activeItem: #6698C8;
$activeItemText: #FFFFFF;
$hoverItem: #4A5664;
$textColor: #FFFFFF;
$activePresence: #94E864;
$mentionBadge: #78AF8F;
//colors: ['#F8F8FA','#FFFFFF','#CAD1D9','#FFFFFF','#FFFFFF','#383F45','#60D156','#FF8669'] 
//colors: ['#0D7E83','#076570','#F79F66','#FFFFFF','#D37C71','#FFFFFF','#F79F66','#F15340']  */

:root {
    --themeBG: #2C3849;
    --themeBGHover: #303E4D;
    --activeItem: #6698C8;
    --activeItemText: #FFFFFF;
    --borderItem: #2e3946;
    --titleItem: #4A5664;
    --hoverItem: #4A5664;
    --textColor: #FFFFFF;
    --textMute: #FFFFFF;
    --activePresence: #94E864;
    --mentionBadge: #78AF8F;
    
}