:root {
    font-size: 15px;
    /* --themeBGmain: #2C3849; */
    --themeBGmain: url('assets/bg.jpg');
    --themeBGsidebar: #303E4D;
    --activeItem: #6698C8;
    --activeItemText: #FFFFFF;
    --borderMenusidebar: #2e3946;
    --titleSidebar: #4A5664;
    --widgetBG: #4A5664;
    --widgetheadBG: #4A5664;
    --hoverItem: #4A5664;
    --textColor: #FFFFFF;
    --textWidgetColor: #FFFFFF;
    --textMute: #FFFFFF;
    --activePresence: #94E864;
    --mentionBadge: rgb(4, 5, 5);
    --shadow: 0 0rem 1rem rgba(0,0,0,.15);
    /* --themeBGmain: #f8f3f0;
    --themeBGsidebar: #4c4743;
    --activeItem: #ffb230;
    --activeItemText: #c3a279;
    --borderMenusidebar: #7a7774;
    --titleSidebar: #ed6c44;
    --widgetBG: #ffffff;
    --widgetheadBG: #ffffff;
    --hoverItem: #5a564e;
    --textColor: #cfc0bb;
    --textWidgetColor: #7a8682;
    --textMute: #7a8682;
    --activePresence: #ed6c44;
    --mentionBadge: #c3a279;
    --shadow: 0 0rem 1rem rgba(122, 77, 26, 0.171); */
    
}