$themeBG: #303E4D;
$themeBGHover: #2C3849;
$activeItem: #6698C8;
$activeItemText: #FFFFFF;
$hoverItem: #4A5664;
$textColor: #FFFFFF;
$activePresence: #94E864;
$mentionBadge: #78AF8F;

:root {
    --themeBG: #303E4D;
    --themeBGHover: #2C3849;
    --activeItem: #6698C8;
    --activeItemText: #FFFFFF;
    --hoverItem: #4A5664;
    --textColor: #FFFFFF;
    --activePresence: #94E864;
    --mentionBadge: #78AF8F;
}