@import './_variable.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--themeBGmain);
  color: var(--textColor);
  overflow: hidden;
}
a {
  cursor: pointer;
}
.btn {
  border-radius: 20rem;
  opacity: 1;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: var(--mentionBadge);
}
.btn-group .btn {
  /* border-radius: inherit;
  border-right: #f3f3f3 */
}
.text-muted {
  color: var(--textMute)
}
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
  overflow: hidden;
}
.shadowcard {
  box-shadow: var(--shadow)
}
.content {
  padding: 20px;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  background: var(--themeBGmain);
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  z-index:-1;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-backdrop {
  background: transparent;
  z-index: -1;
}
.btn-primary {
  background: var(--activePresence);
  border: var(--activePresence);
  transition: all 0.3s;
}
.text-primary {
  color: var(--activePresence);

}
textarea {
  font-family: "Lucida Console", Monaco, monospace;
}
#scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.027);
}

#scrollbar-style::-webkit-scrollbar
{
	width: 10px;
  background-color: rgba(245, 245, 245, 0.164);
  height: 10px;
}

#scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #00000020;
}
.form-control {
  border: 0px;
  background-color: #f3f3f3;
}
button:focus,button:active,.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
}
.buttontransition-appear {
  opacity: 0.01;
}

.buttontransition-appear.buttontransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: var(--activeItem);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
