@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bg-dark {
  min-width: 100vw;
  min-height: 100vh;
}




#content {
    padding: 20px;
    min-height: 100vh;
    min-width: 100vw;
    transition: all 0.3s;
}

