@import '_variable';


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--themeBG);
  color: var(--textColor)
  //background: $main;
}
a {
  cursor: pointer;
}
.text-muted {
  color: var(--textMute)
}
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#content {
    padding: 20px;
    min-height: 100vh;
    min-width: 100%; 
    transition: all 0.3s;
}

