@import '/_variable';

.grid {
    position: relative;
  }
  .item {
    position: absolute;
    text-align: center;
    /* width: 200px;
    height: 200px; */
    /* line-height: 200px; */
    
    z-index: 1;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item-content {
    position: relative;
    /* border: 1px solid var(--mentionBadge); */
    border-radius: 3px;
    font-size: 25px;
    color: var(--textColor);
    background-color: var(--titleItem);
  }
  .item.muuri-item-dragging .item-content,
  .item.muuri-item-releasing .item-content {
    background: var(--activePresence);
  }

  .example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }