@import '../_variable.css';

#settingMode {
    display:block;
}
#displayMode {
    display: none;
}
.settingwid {
    font-size: 1rem;
    min-width: 3.4rem;
}
.card-title {
    font-size: 1rem;
    overflow: hidden;
}
.card-header {
    background: var(--widgetheadBG)
}