@import '../_variable.css';

#settingMode {
    display:block;
}
#displayMode {
    display: none;
}
.settingwid {
    font-size: 1rem;
    min-width: 3.4rem;
}
.card-title {
    font-size: 1rem;
    overflow: hidden;
}
.card-header {
    background: var(--widgetheadBG)
}
.updown {
    margin-left: 50%;
    font-size: 1rem;
}

.ImageCover img{
    width: 70vw;
}
.ImageCover .card-header {
    background: transparent;
}
.item-content.ImageCover {
    background: transparent;
    box-shadow: none;
}