.coloroption {
        padding: 5px;
        background: #fff;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        display: inline-block;
        cursor: pointer;

}
.color {
    height: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    cursor: 'pointer'
}
.ColorPicker {
    position: absolute;
    z-index: 100;
}
.inputcolor {
}